body {
    background-color: rgb(13, 13, 13);
}
h2 {
    text-align: center;
    font-size: 24px;
}
#background {
    border-radius: 50%;
    width: 430px;
    height: 520px;
    transform: translate(-50% -50%);
    left: 37%;
    top: 15%;
    position: absolute;
}
#background .circle {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background: linear-gradient(#fff); */
}
.circle:first-child {
    background: linear-gradient(#fff, #fff);
    left: -80px;
    top: -50px
}
.circle:last-child {
    background: linear-gradient(to right,orange, orange);
    right: -30px;
    bottom: -80px;
}
form {
    /* display: block; */
    position: absolute;
    width: 400px;
    height: 520px;
    align-items: center;
    left: 50%;
    top: 50%;
    border: solid 1px ;
    background-color: rgb(255, 255, 255, 0.7);
    border-radius: 11px;
    backdrop-filter: blur;
    transform: translate(-50%, -50%);
}
button {
    background-color: yellowgreen;
    border-radius: 15px;
    height: 45px;
    margin: 40px 20px 0 22px;
    width: 90%;
    cursor: pointer;
    font-size: 18px;
}
label {
    display: block;
    margin: 15px 20px;
    font-size: 20px;
}
input {
    height: 40px;
    width: 90%;
    padding: 0 10px 0 15px;
    margin: 0 12px;
    font-size: 15px;
    border-radius: 10px
}
.socials {
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}
/* #login {

} */